.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}
.btn-effect {
  position: relative;
  overflow: hidden;
  color: #fff;
  span {
    display: block;
    position: relative;
  }
  & > span {
    overflow: hidden;
  }
  &:hover > span > span {
    animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
    color: $dark_grey;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    background: #fff;
    width: 102%;
    height: 0;
    padding-bottom: 32px;
    border-radius: 1rem;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
  }
  &:hover::before {
    transform: translate3d(0, 0, 0);
  }
}
