.header {
  position: fixed;
  width: 100%;
  mix-blend-mode: difference;
  height: 72px;
  z-index: 10;
  .header-content {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 100%;
    padding-top: 1rem;
    .logo {
      display: flex;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
    .wrap-name {
      width: 250px;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      .name,
      .name-hover {
        font-size: 0.8rem;
        text-transform: uppercase;
        transition: transform 0.45s cubic-bezier(0.1, 0.76, 0.4, 0.94);
        line-height: 1;
      }
      .name-hover {
        width: 250px;
        position: absolute;
        transform-origin: 50% 50%;
        transform: translate3d(0, 0, 0) rotateX(-90deg);
      }
      &:hover {
        .name {
          transform: translate3d(0, -50%, 0) rotateX(-90deg);
        }
        .name-hover {
          transform: translate3d(0, -100%, 0);
        }
      }
    }
    .wrap-close-project {
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .wrap-right {
      display: flex;
      align-items: center;
      .btn-theme-mode {
        margin-right: 1rem;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }
    }
    &.hide-el {
      .logo,
      .wrap-name,
      .wrap-right .btn-theme-mode {
        opacity: 0;
      }
    }
  }
}

.btn-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  .main-bar {
    display: block;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition: 0.3s ease-in-out;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 2px;
      top: 0;
      background-color: #fff;
      transition: width 0.3s ease-out, transform 0.3s ease-in-out;
    }
    &::before {
      left: 0;
      transform: translateY(-8px);
    }
    &::after {
      right: 0;
      transform: translateY(8px);
    }
  }
  &:hover {
    .main-bar {
      &::before,
      &::after {
        width: 25px;
      }
    }
  }
  &.is-open {
    .main-bar {
      transform: rotate(180deg);
      transform-origin: center center;
      background-color: transparent;
      &::before,
      &::after {
        transform-origin: center center;
      }
      &::before {
        width: 25px;
        background-color: #fff;
        transform: translateY(0) rotate(45deg);
      }
      &::after {
        width: 25px;
        background-color: #fff;
        transform: translateY(0) rotate(-45deg);
      }
    }
  }
}
