@font-face {
  font-family: "Gallient";
  src: url("/fonts/Gallient.ttf") format("truetype");
}

$font_gallient: "Gallient", sans-serif;
$font_poppins: "Poppins", sans-serif;
$font_nunito: "Nunito Sans", sans-serif;

$dark_grey: #171717;
$light_grey: #888888;
$ultralight_grey: #b6b6b6;
